:root {
  --bs-tertiary-bg-rgb: 67, 0, 255;
  --bs-body-font-family: "Montserrat";
  /* Fuente principal */
  --bs-primary-rgb: 67, 0, 255;
  /* Color primario */
  --bs-secondary-rgb: 2, 202, 255;
  /* Color secundario */
  --bs-emphasis-color-rgb: 67, 0, 255;
  --bs-tertiary-bg: rgb(67, 0, 255);
  --bs-border-color-translucent: rgb(67, 0, 255);
  --bs-body-color: rgb(67, 0, 255);
  --bs-card-border-color: 67, 0, 255;  
  --bs-border-radius: 0px;
  --bs-btn-bg:var(--bs-primary-rgb);
}

.hero {
  height: 100vh;
  /* ocupa toda la pantalla */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("imagenes/pexels-energepic-com-27411-313691.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--bs-light);
  text-align: center;
}

.hero-content {
  max-width: 600px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.hero button {
  background: rgb(67, 0, 255);
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.hero button:hover {
  background: rgb(31, 201, 243);
  color: black
}

.logo {
  width: 454px;
  height: 67px;
}

.logo2 {
  width: 60px;
  height: 60px;
  margin-right: 13px;
}

.card-img-top {
  height: 280px;
  object-fit: inherit;
  width: 100%;
}


.col_img {
  width: 77%;
  height: auto;
  max-width: 400px;
  margin: 0 auto;
}

.texto {
  width: 78%;
  /* line-height: 1.5rem; */
  font-size: 1rem;
}

.paragrah {
  position: relative;
  top: -13px;
  left: 42px;
}


#menu {
  transition: top 0.7s ease;
}

.sticky {
  width: 307px;
  height: 57px;
  transition: width 0.3s, height 0.3s;
}

.text-secondary {
  --bs-text-opacity: 1;
  color: rgb(31, 201, 243) !important;
}

nav {
  border-bottom: 1px solid rgb(68, 0, 255);
}

.dropdown-menu {
    
    --bs-dropdown-link-hover-color: var(--bs-light);
   
}

.btn-primary{
  --bs-btn-bg:rgb(68, 0, 255);
  --bs-btn-border-color: #ffffff;
  --bs-btn-hover-bg:rgb(68, 0, 255);
  --bs-btn-hover-border-color: #ffffff;
}